<h1>Hello</h1>
<p>Find me in app/views/pages/home.html.erb</p>

<%= link_to 'Créer son compte', new_user_registration_path %>
<%= link_to 'Se déconnecter', destroy_user_session_path, method: :delete %>